name: Build and Publish
on: [push]

concurrency:
  group: "cd-${{ github.ref_name }}"
  cancel-in-progress: true

jobs:
  build-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          # match with the toolchain in the Containerfile
          toolchain: 1.88.0
      - name: Build Enclave Image
        run: |
          cargo build --release --bin host-proxy
          make
          mv target/release/host-proxy out/host-proxy
          cd out
          sha256sum host-proxy | tee host-proxy.sha256sum
          ls -lh
          cat nitro.pcrs
          echo "Enclave image PCRs:" >> note.txt
          cat nitro.pcrs >> note.txt
          echo >> note.txt
          echo "Host proxy SHA256:" >> note.txt
          cat host-proxy.sha256sum >> note.txt
      - name: Publish Artifacts
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2
        with:
          body_path: out/note.txt
          files: |
            out/nitro.eif
            out/nitro.pcrs
            out/host-proxy
            out/host-proxy.sha256sum
